---
import Layout from "@layouts/Layout.astro";
import Tags from "@components/Tags.astro";
import { format } from "date-fns";
import { getCollection } from "astro:content";
import { UTCDate } from "@date-fns/utc";

const posts = await getCollection("blog", ({ data }) => data.draft !== true);
posts.sort(
    (a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime()
);
---

<Layout title="Nick Tenebruso's Blog">
    <main class="max-w-5xl mx-auto px-5 mt-10 mb-5">
        <h1 class="text-5xl font-bold mb-10">Blog Posts</h1>
        {
            posts.map((post) => (
                <a
                    class="block text-current no-underline mt-4 bg-accent p-4 rounded-lg border border-border transition-transform duration-300 hover:-translate-y-1"
                    href={`/posts/${post.id}`}
                >
                    <div class="flex justify-between">
                        <Tags
                            tags={post.data.tags}
                            class="bg-brand text-white px-2 rounded-md"
                        />
                        <p class="inline-block text-muted-foreground text-right">
                            {format(
                                new UTCDate(post.data.publishedAt),
                                "MMMM do, yyyy"
                            )}
                        </p>
                    </div>
                    <h2 class="text-3xl font-bold mt-3">{post.data.title}</h2>
                </a>
            ))
        }
    </main>
</Layout>
