---
import Layout from "../layouts/Layout.astro";
import Tags from "../components/Tags.astro";
import { formatDistance } from "date-fns";

const posts = await Astro.glob("./posts/*.mdx");
---

<Layout title="Nick Tenebruso's Blog">
    <div class="max-w-5xl mx-auto px-5 mt-8 mb-5">
        <h1 class="text-5xl font-bold text-center mb-10">Blog Posts</h1>
        {
            posts.map((post) => (
                <a class="text-current hover:no-underline mt-4" href={post.url}>
                    <div class="bg-gray-200 dark:bg-zinc-800 mx-auto max-w-3xl p-4 rounded-lg border-[1px] border-gray-300 dark:border-zinc-700 transition-transform duration-300 hover:-translate-y-1">
                        <div class="flex justify-between">
                            <Tags
                                tags={post.frontmatter.tags}
                                class="bg-brand text-zinc-200 px-2 rounded-md"
                            />
                            <p class="inline-block text-zinc-500 dark:text-zinc-400">
                                {formatDistance(
                                    new Date(post.frontmatter.publishedAt),
                                    Date.now()
                                )}{" "}
                                ago
                            </p>
                        </div>
                        <h2 class="text-3xl font-bold mt-3">
                            {post.frontmatter.title}
                        </h2>
                    </div>
                </a>
            ))
        }
    </div>
</Layout>
