---
import Layout from "@layouts/Layout.astro";
---

<Layout title="secret">
    <Fragment slot="head">
        <meta name="robots" content="noindex" />
    </Fragment>

    <main class="max-w-5xl mx-auto px-5 mt-10">
        <button
            class="bg-red-500! btn"
            onclick="document.documentElement.dataset.theme = 'evil'"
            >do not click</button
        >
        <button
            class="btn"
            onclick="document.body.style.transform='skew(10deg)'">skew1</button
        >
        <button
            class="btn"
            onclick="document.body.style.transform='rotate(3deg)'">skew2</button
        >
        <button
            class="btn"
            onclick="document.body.style.transform='rotate3d(0, 1, 0, 60deg)'"
            >3d</button
        >
        <button
            class="btn"
            onclick="document.documentElement.style.filter='invert(1)'"
            >color</button
        >
        <button
            class="btn"
            onclick="document.documentElement.style.filter='blur(5px)'"
            >blurry</button
        >
        <button class="btn" onclick="window.location.reload()">reset</button>
    </main>
</Layout>
