<footer class="max-w-5xl mx-auto px-5 flex justify-between items-center py-5">
    <a href="https://github.com/ntenebruso/ntenebruso.github.io" target="_blank"
        >Source code on Github</a
    >
    <p>Made by Nick Tenebruso</p>
</footer>
