---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
    href: string;
}

const { href, ...props } = Astro.props;

let isActive;
if (href == "/") {
    isActive = href == Astro.url.pathname;
} else {
    isActive = Astro.url.pathname.includes(href);
}
---

<a
    href={href}
    class={`hover:no-underline text-zinc-700 dark:text-zinc-400`}
    {...props}
>
    <span
        class={`transition-colors ${isActive && "active"} hover:!text-zinc-800 hover:dark:!text-zinc-300`}
        ><slot /></span
    >
</a>
