---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
    href: string;
}

const { href, ...props } = Astro.props;

let isActive;
if (href == "/") {
    isActive = href == Astro.url.pathname;
} else {
    isActive = Astro.url.pathname.includes(href);
}
---

<a
    href={href}
    class={`text-current hover:no-underline ${isActive && "text-brand"}`}
    {...props}
>
    <slot />
</a>
