---
import { ViewTransitions, slide } from "astro:transitions";

import "../styles/global.css";

import "@fontsource-variable/inter";
import "@fontsource-variable/montserrat";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "lucide-static/font/lucide.css";

export interface Props {
    title: string;
    description?: string;
}

const slideAnim = {
    old: {
        name: "fadeOut",
        duration: "0.1s",
        easing: "linear",
        fillMode: "forwards",
    },
    new: {
        name: "slideIn",
        duration: "0.2s",
        easing: "ease",
        fillMode: "backwards",
    },
};

const customSlide = {
    forwards: slideAnim,
    backwards: slideAnim,
};

const { title, description } = Astro.props;
---

<!doctype html>
<html
    lang="en"
    class="scroll-smooth dark overflow-y-scroll"
    transition:animate="none"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script is:inline>
            function getDarkMode(document) {
                if (
                    localStorage.getItem("theme") == "dark" ||
                    !localStorage.getItem("theme")
                ) {
                    document.documentElement.classList.add("dark");
                } else {
                    document.documentElement.classList.remove("dark");
                }
            }

            getDarkMode(document);

            document.addEventListener("astro:before-swap", (e) => {
                getDarkMode(e.newDocument);
            });
        </script>
        {description && <meta name="description" content={description} />}
        <ViewTransitions />
    </head>
    <body
        class="antialiased bg-white dark:bg-zinc-900 text-zinc-800 dark:text-zinc-300 selection:bg-blue-700 selection:text-white"
    >
        <Header transition:persist />
        <div transition:animate={customSlide}>
            <slot />
            <Footer />
        </div>
    </body>
</html>
