---
import "../styles/global.css";

import "@fontsource-variable/inter";
import "@fontsource-variable/sora";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "lucide-static/font/lucide.css";

export interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth dark overflow-y-scroll">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script is:inline>
            document.addEventListener("DOMContentLoaded", () => {
                if (
                    localStorage.getItem("theme") == "dark" ||
                    !localStorage.getItem("theme")
                ) {
                    document.documentElement.classList.add("dark");
                } else {
                    document.documentElement.classList.remove("dark");
                }
            });
        </script>
        {description && <meta name="description" content={description} />}
    </head>
    <body
        class="antialiased bg-white dark:bg-zinc-900 text-zinc-800 dark:text-zinc-300 selection:bg-blue-700 selection:text-white"
    >
        <Header />
        <div id="swup" class="transition-slide outline-none">
            <slot />
        </div>
        <Footer />
    </body>
</html>

<script>
    import SwupHeadPlugin from "@swup/head-plugin";

    document.addEventListener("swup:enable", () => {
        window.swup.use(new SwupHeadPlugin({
            awaitAssets: true
        }));
    })
</script>
