---
import "../styles/prism.css";
import Layout from "./Layout.astro";
import Tags from "../components/Tags.astro";
import { format } from "date-fns";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <main>
        <div class="max-w-5xl mx-auto px-5 mt-10">
            <div class="text-center">
                <div class="flex justify-center">
                    <Tags
                        tags={frontmatter.tags}
                        class="bg-brand text-zinc-200 px-2 rounded-md"
                    />
                </div>
                <h1 class="mt-4 text-5xl font-bold">
                    {frontmatter.title}
                </h1>
                <h2 class="text-zinc-400 text-xl mt-2">
                    {format(new Date(frontmatter.publishedAt), "MMMM do, yyyy")}
                </h2>
            </div>
            <article class="mt-10 prose dark:prose-invert mx-auto">
                <slot />
            </article>
        </div>
    </main>
</Layout>
